PORT=8080
DB_URL=jdbc:mysql://localhost:3306/[db]?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EMAIL_HOST =
EMAIL_PORT =
EMAIL_SMTP =
EMAIL_PASSWORD =
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=